{% extends 'template.html' %}

{% block content %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="stylesheet" type="text/css" href="/css/test.css">
	<style type="text/css">
		/*.fixeame {*/
			/*position: fixed; z-index: 9999; top: 80px; left: 40px; width: 280px;*/
		/*}*/
	</style>
{% endblock %}

<div class="slider">
	{% for s in slider %}
	{% if loop.first %}
		<div class="slide current">
	{% else %}
		<div class="slide">
	{% endif %}
		</div>
	{% endfor %}
</div>
	
<div class="buttons">
	<button id="prev"><i class="fas fa-arrow-left"></i></button>
	<button id="next"><i class="fas fa-arrow-right"></i></button>
</div>

<div id="alquileresContainer">
	<div class="row orden block alquileresContainer">
		<!-- <div class="col m9 l9 offset-m3 offset-l3 s12 valign-wrapper" id="alquileresOrden">
			<div>
				<div class="input-field col s12" style="margin-bottom: 0;">
				    <select>
						<option value="" disabled selected>Elige una opcion</option>
						<option value="1">Menor precio</option>
						<option value="2">Mayor precio</option>
						<option value="3">Recien publicados</option>
				    </select>
	    			<label>Ordenar por</label>
  				</div>
			</div>
			<div>
				Mostrando <span id="cantidad_posts1"></span> de <span id="cantidad_posts2"></span> publicaciones
			</div>
		</div> -->

		<!-- FILTRO ACORDION -->
		<div class="col m12 l3 s12" id="filtrooo">
			<ul class="collapsible">
				<li class="active">
		      		<div class="collapsible-header"><i class="material-icons">filter_drama</i>Categorias</div>
		      		<div class="collapsible-body">
		      			{% if cantByCategoria.length %}
			      			{% for l in cantByCategoria %}
			      			<p>
								<label>
									<input class="checkboxFiltro" type="checkbox" data-filtro="categoria" data-nombre="{{ l.nombre }}" data-id="{{ l.idCategoria }}" />
									<span class="negro">{{ l.nombre }} ({{ l.suma }})</span>
								</label>
							</p>
							{% endfor %}
						{% else %}
							<p>No hay categorias cargadas</p>
						{% endif %}
		      		</div>
	    		</li>
		    	<li>
		      		<div class="collapsible-header"><i class="material-icons">place</i>Ubicacion</div>
		      		<div class="collapsible-body">
		      			{% if cantByUbicacion.length %}
			      			{% for l in cantByUbicacion %}
			      			<p>
								<label>
									<input class="checkboxFiltro" type="checkbox" data-filtro="ubicacion" data-nombre="{{ l.nombre }}" data-id="{{ l.idLocalidad }}" />
									<span class="negro">{{ l.nombre }} ({{ l.suma }})</span>
								</label>
							</p>
							{% endfor %}
						{% else %}
							<p>No hay ubicaciones cargadas</p>
						{% endif %}
		      		</div>
		    	</li>
	    		<li>
		      		<div class="collapsible-header"><i class="material-icons">whatshot</i>Tipo de propiedad</div>
		      		<div class="collapsible-body">
		      			{% if cantByTipoPropiedad.length %}
			      			{% for l in cantByTipoPropiedad %}
			      			<p>
								<label>
									<input class="checkboxFiltro" type="checkbox" data-filtro="tipopropiedad" data-nombre="{{ l.nombre }}" data-id="{{ l.idTipoPropiedad }}" />
									<span class="negro">{{ l.nombre }} ({{ l.suma }})</span>
								</label>
							</p>
							{% endfor %}
						{% else %}
							<p>No hay categorias cargadas</p>
						{% endif %}
		      		</div>
		    	</li>
		    	<li style="color: white;">
		    		<div style="padding: 1rem; background: #F44336 !important;">
		    			<i style="width: 2rem; font-size: 1.6rem; display: inline-block; text-align: center; margin-right: 1rem;" class="material-icons">search</i>Filtrar</div>
		    	</li>
		  	</ul>
		  	<div>
		  		<p>Publicaciones filtradas por:</p>
		  	</div>
		</div>

		<!-- POSTS -->
		<div class="col m12 l9 s12" id="posts">
		
		</div>
	</div>
</div>

<div id="modal1" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="preloader-wrapper active">
			<div class="spinner-layer spinner-red-only">
				<div class="circle-clipper left">
					<div class="circle"></div>
				</div>
				<div class="gap-patch">
					<div class="circle"></div>
				</div>
				<div class="circle-clipper right">
					<div class="circle"></div>
				</div>
			</div>
		</div>
		<h4>Caracteristicas</h4>
		<p id="descripcionPost"></p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
	</div>
</div>

<div id="modal2" class="modal bottom-sheet modal-fixed-footer">
	<div class="modal-content">
		<h4>Complete el formulario</h4>
		<div class="row">
    		<form class="col s12">
		      	<div class="row">
		        	<div class="input-field col m3 l3 s6">
		          		<input id="nombre" type="text" class="validate">
		          		<label for="nombre">Nombre</label>
	        		</div>
		        	<div class="input-field col m3 l3 s6">
		          		<input id="apellido" type="text" class="validate">
		          		<label for="apellido">Apellido</label>
	        		</div>
	        		<div class="input-field col m3 l3 s6">
		          		<input id="telefono" type="text" class="validate">
		          		<label for="telefono">Telefono</label>
	        		</div>
			        <div class="input-field col m3 l3 s6">
			            <input id="email" type="email" class="validate">
			            <label for="email">Email</label>
			        </div>
			        <div class="input-field col s12">
            			<textarea id="mensaje" class="materialize-textarea" data-length="120"></textarea>
            			<label for="mensaje">Mensaje</label>
          			</div>
		      	</div>
    		</form>
  		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
		<a href="#!" class="waves-effect waves-green btn-flat red white-text" id="btnEnviar">Enviar</a>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/slider.js"></script>
<script>


</script>
<script type="text/javascript">
	$(function() {
		getPosts()
		$(".sidenav").sidenav()
		var filtro = $("#filtrooo").offset().top;
		$(window).scroll(function(){
			if($(window).scrollTop()>150){
				$('nav').addClass("backActive").removeClass("backInactive")
			}else{
				$('nav').addClass("backInactive").removeClass("backActive")
			}
		})
	})

	$('select').formSelect();
	$('.collapsible').collapsible();
	$('.modal').modal({
		dismissible: false,
		onOpenStart: function() {
			$("input, textarea").val("").removeClass('valid').removeClass('invalid')
		}
	});
	$('textarea#mensaje').characterCounter();

	$('.moveNextCarousel').click(function(e){
		e.preventDefault()
		e.stopPropagation()
		$(this).closest('.carousel').carousel('next')
	})

	$('.movePrevCarousel').click(function(e){
		e.preventDefault()
		e.stopPropagation()
		$(this).closest('.carousel').carousel('next')
	})

	function verMas(texto) {
		$("#descripcionPost").html(texto)
	}

	$("#btnEnviar").click(() => {
		$('.toast').hide()
		let nombre = $("#nombre").val()
		let apellido = $("#apellido").val()
		let telefono = $("#telefono").val()
		let email = $("#email").val()
		let mensaje = $("#mensaje").val()

		if (nombre && apellido && telefono && email && mensaje) {
			$('.modal').modal('close')
			Swal.fire({
				type: "success",
				title: "Exito",
				text: "Mensaje enviado correctamente"
			})
		} else {
			let toastHTML = '<span>Debe completar todos los campos</span>'
	  		M.toast({html: toastHTML})			
		}
	})

	$("#btnIngresar").click(() => {
		$('.toast').hide()
		let usuario = $("#usuario").val()
		let contraseña = $("#contraseña").val()

		if (usuario && contraseña) {
			$('.modal').modal('close')
			$.post("/Inmobiliarias/Acceso", { usuario, contraseña })
			.then(data => {
				console.log(data)
				// Swal.fire({
				// 	type: "success",
				// 	title: "Exito",
				// 	text: "Bienvenido usuario"
				// })
				window.location = '/Inmobiliarias/Inicio'
			})
		} else {
			let toastHTML = '<span>Debe completar todos los campos</span>'
	  		M.toast({html: toastHTML})			
		}
	})

	var slideIndex = 1;

	function plusSlides(n, t) {
	  showSlides(slideIndex += n, t);
	}

	function currentSlide(n) {
	  showSlides(slideIndex = n);
	}

	function showSlides(n, t) {
	  var i;
	  var slides = $(t).parent().find(".mySlides");
	  if (n > slides.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = slides.length}
	  for (i = 0; i < slides.length; i++) {
	      slides[i].style.display = "none";
	  }
	  slides[slideIndex-1].style.display = "block"; 
	}	

	getPosts = () => {
		$.ajax({
	        method: "GET",
	        url: "/posts",
	        success: function(data) {
	            let tablecontent = $($.parseHTML(data))
	            $('#posts').html(tablecontent)
				var conteo = $(".slideshow-container")
				$.each(conteo, (index, item) => {
					showSlides(slideIndex, $(item).find(".mySlides"));	
				})
	        }
	    })
	}

	// $(".ubicacionFiltro").change(async function() {
	// 	let inputsChecked = 0;
	// 	let arr = [];
	// 	$.each($(".ubicacionFiltro"), (index, item) => {
	// 		if ( $(item).prop("checked") ) { 
	// 			inputsChecked++;
	// 			arr.push($(item).attr("data-id"))
	// 		}
	// 	});

	// 	console.log(inputsChecked)
	// 	console.log(arr)
	// 	if ( inputsChecked == 0 ) { 
	// 		getPosts()
	// 	} else {
	// 		let data = { info: arr }
	// 		console.log(data)
	// 		let resultado = await $.post("/post/filtro", data)
	// 		let tablecontent = $($.parseHTML(resultado))
 //            $('#posts').html(tablecontent)
	// 		var conteo = $(".slideshow-container")
	// 		$.each(conteo, (index, item) => {
	// 			showSlides(slideIndex, $(item).find(".mySlides"));	
	// 		})
	// 	}
	// })

	let filtro = []
	$(".checkboxFiltro").click(function() {
		if ( $(this).prop("checked") ) {
			filtro.push({ 
				"filtro": $(this).attr("data-filtro"),
				"id": $(this).attr("data-id"),
				"nombre": $(this).attr("data-nombre")
			})			
		} else {
			for (i = 0; i < filtro.length; i++) {
			  	var id = filtro[i].id;
			  	var nombre = filtro[i].nombre;
			  	var filter = filtro[i].filtro;
			  	if (
			  		id == $(this).attr("data-id") && 
			  		nombre == $(this).attr("data-nombre") &&
			  		filter == $(this).attr("data-filtro")
			  	) {
			    	filtro.splice(i, 1);
			  	}
			}
		}
		console.table(filtro);
	});

</script>
{% endblock %}