{% extends 'template.html' %}

{% block content %}

<style type="text/css">
	.collapsible-body { padding: 1.5rem !important; }
</style>

<div class="slider">
	{% for s in slider %}
	{% if loop.first %}
		<div class="slide current">
	{% else %}
		<div class="slide">
	{% endif %}
		<div class="content">
			<h1>{{ s.titulo }}</h1>
			<p>{{ s.descripcion }}</p>
		</div>
	</div>
	{% endfor %}
</div>
	
<div class="buttons">
	<button id="prev"><i class="fas fa-arrow-left"></i></button>
	<button id="next"><i class="fas fa-arrow-right"></i></button>
</div>

<div style="max-width: 1200px; margin: auto; position: relative;">
	<div class="row" style="padding: 30px 20px;">
		<div class="col m3 l3 hide-on-small-only" ></div>
		<div class="col m9 l9 s12 hide-on-small-only valign-wrapper" style="display: flex; flex-direction: row; justify-content: space-between;">
			<div>
				<div class="input-field col s12">
				    <select>
						<option value="" disabled selected>Elige una opcion</option>
						<option value="1">Menor precio</option>
						<option value="2">Mayor precio</option>
						<option value="3">Recien publicados</option>
				    </select>
	    			<label>Ordenar por</label>
  				</div>
			</div>
			<div>
				<a href="#"><i class="medium material-icons" style="color: black; font-size: 36px;">view_list</i></a>
				<a href="#"><i class="medium material-icons" style="color: black; font-size: 36px;">view_module</i></a>
			</div>
		</div>
		<div class="col m3 l3 s12" style="margin-top: 7px;">
			<ul class="collapsible">
				<li class="active">
		      		<div class="collapsible-header"><i class="material-icons">filter_drama</i>Categorias</div>
		      		<div class="collapsible-body">
		      			<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">Alquiler</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">En venta</span>
							</label>
						</p>
		      		</div>
	    		</li>
		    	<li>
		      		<div class="collapsible-header"><i class="material-icons">place</i>Ubicacion</div>
		      		<div class="collapsible-body">
		      			<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">San Nicolas</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">La Emilia</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">Campos Salles</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" />
								<span style="color: black;">General Rojo</span>
							</label>
						</p>
		      		</div>
		    	</li>
	    		<li>
		      		<div class="collapsible-header"><i class="material-icons">whatshot</i>Tipo de propiedad</div>
		      		<div class="collapsible-body">
		      			<p>
							<label>
								<input type="checkbox">
								<span style="color: black;">Terrenos (43)</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox">
								<span style="color: black;">Casa (36)</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox">
								<span style="color: black;">Departamento (33)</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox">
								<span style="color: black;">Local (5)</span>
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox">
								<span style="color: black;">Campo (4)</span>
							</label>
						</p>
		      		</div>
		    	</li>
		  	</ul>
		</div>
		<div class="col m9 l9 s12">
			<div class="row">
				{% for a in alquileres %}
				<div class="col m12 s12">
					<div class="card" style="border-top: 4px solid red; background: #fbfeff;">
						<div class="row">
							<div class="card-image">
								<div class="col m5 s12">							
									<div class="carousel carousel-slider center" style="position: relative" data-indicators="true">
										<div class="left" style="position: absolute; top: 40%;">
											<a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
										</div>
										<div class="right" style="position: absolute; top: 40%; right: 0;">
											<a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
										</div>
										{% for f in a.fotos%}
										<div class="carousel-item white-text center middle-indicator" href="#one!">
											<img class="responsive-img" src="/images/{{ f.path }}" alt="" />
										</div>
										{% endfor %}
									</div>
							</div>
							<div class="col m7 s12">
								<div class="card-content">
									<p style="padding: 0 0 10px 0; font-weight: bold !important;">{{ a.titulo }}</p>
									<p class="product-desc">12.000 m² cubiertos</p>
									<div class="price-container">
										<p class="price-offer">{{ a.descripcion }}</p>
									</div>					
								</div>
							</div>
						</div>
						</div>
						<div class="row">
							<div class="card-action valign-wrapper">							
								<div class="col m5 l5 s12">
									<span style="font-weight: bold; font-size: 1.3em;">{{ a.precio }}</span>
								</div>
								<div class="col m7 l7 s12" style="text-align: right;">
									<div><a class="red waves-effect waves-light btn-small">Contactar</a></div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript">
	$(function() {
		$(".sidenav").sidenav()

		$(window).scroll(function(){
			if($(window).scrollTop()>150){
				$('nav').css({ background: 'red', transition : 'background .3s ease-in-out'})
			}else{
				$('nav').css({ background: 'rgba(0,0,0,0.3)', transition: 'background .3s ease-in-out'})
			}
		})
	})

	$('.moveNextCarousel').click(function(e){
		e.preventDefault()
		e.stopPropagation()
		$(this).closest('.carousel').carousel('next')
	})

	$('.movePrevCarousel').click(function(e){
		e.preventDefault()
		e.stopPropagation()
		$(this).closest('.carousel').carousel('next')
	})

	$('select').formSelect();
	$('.collapsible').collapsible();
</script>
{% endblock %}