{% extends 'template.html' %}

{% block content %}


<div class="row" style="padding: 30px 20px;">
	<div class="col m3 s12 hide-on-small-only" >

	</div>
	<div class="col m9 s12 hide-on-small-only" style="display: flex; flex-direction: row; justify-content: space-between;">
		<div>
			Ordenar por
		</div>
		<div>
			<a href="#"><i class="medium material-icons" style="color: black; font-size: 36px;">view_list</i></a>
			<a href="#"><i class="medium material-icons" style="color: black; font-size: 36px;">view_module</i></a>
		</div>
	</div>
	<div class="col m3 s12" style="margin-top: 7px;">
		<h6 style="letter-spacing: .06em; margin-bottom: 18px;">Categorias</h6>
		<p>
			<label>
				<input type="checkbox" />
				<span style="color: black;">Alquiler</span>
			</label>
		</p>
		<p>
			<label>
				<input type="checkbox" />
				<span style="color: black;">En venta</span>
			</label>
		</p>
	</div>
	<div class="col m9 s12">
		<div class="row">
			{% for a in alquileres %}
			<div class="col m12 s12">
				<div class="card" style="border-top: 4px solid red; background: #fbfeff;">
					<div class="row">
						<div class="col m5 s12">							
							<div class="card-image">
								<div class="carousel carousel-slider center" style="position: relative" data-indicators="true">
									<div class="left" style="position: absolute; top: 40%;">
										<a href="Previo" class="movePrevCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons left  middle-indicator-text">chevron_left</i></a>
									</div>
									<div class="right" style="position: absolute; top: 40%; right: 0;">
										<a href="Siguiente" class=" moveNextCarousel middle-indicator-text waves-effect waves-light content-indicator"><i class="material-icons right middle-indicator-text">chevron_right</i></a>
									</div>
									{% for f in a.fotos%}
									<div class="carousel-item white-text center middle-indicator" href="#one!">
										<img class="responsive-img" src="/images/{{ f.path }}" alt="" />
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col m7 s12">
							<div class="card-content">
								<p style="padding: 0 0 10px 0; font-weight: bold !important;">{{ a.titulo }}</p>
								<p class="product-desc">12.000 m² cubiertos</p>
								<div class="price-container">
									<span class="price-normal">{{ a.precio }}</span>
									<p class="price-offer">{{ a.descripcion }}</p>
								</div>					
							</div>
							<div class="card-action" style="text-align: right;">
								<a class="red waves-effect waves-light btn-small">Contactar</a>
							</div>	
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}