{% extends '../../template.html' %}

{% block content %}
<style>
    .toast {
        background: red;
    }
</style>

<div style="padding-top: 70px; width: 90vw; margin: auto;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Alta de Posts - Inmobiliaria: {{ inmobiliaria[0].nombre }}</h3>
    </div>

    <div class="row">
        <form class="col s12" id="formAlta" action="/Admin/Posts" method="post">
            <input type="hidden" id="idInmobiliaria" value="{{ inmobiliaria[0].id }}">
            <div class="row">
                <div class="input-field col s6 m3">
                    <select id="localidad">
                        <option value="" disabled selected>Elija Localidad</option>
                        {% for l in localidades %}
                        <option value="{{ l.id }}">{{ l.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label>Localidad</label>
                </div>
                <div class="input-field col s6 m3">
                    <select id="categoria">
                        <option value="" disabled selected>Elija Categoria</option>
                        {% for l in categorias %}
                        <option value="{{ l.id }}">{{ l.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label>Categoria</label>
                </div>
                <div class="input-field col s6 m3">
                    <select id="tipoPropiedad">
                        <option value="" disabled selected>Elija Tipo de Propiedad</option>
                        {% for l in tipoPropiedad %}
                        <option value="{{ l.id }}">{{ l.nombre }}</option>
                        {% endfor %}
                    </select>
                    <label>Tipo de Propiedad</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="titulo" type="text" class="validate">
                    <label for="titulo">Titulo</label>
                </div>
                <div class="input-field col s6 m3">
                    <input id="precio" type="text" class="validate">
                    <label for="precio">Precio</label>
                </div>
                <div class="file-field input-field col s6 m3">
                    <div class="waves-effect waves-red btn-flat red white-text btn">
                        <span>Fotos</span>
                        <input type="file" id="myFiles" multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" id="nombre">
                    </div>
                </div>
                <div class="input-field col s12">
                    <textarea id="descripcion_corta" class="materialize-textarea"></textarea>
                    <label for="descripcion_corta">Descripcion corta</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="descripcion" class="materialize-textarea"></textarea>
                    <label for="descripcion">Descripcion</label>
                </div>                
            </div>
            <div class="row">
                <a href="/Admin/Posts/Inmobiliaria/{{ inmobiliaria[0].id }}" class="waves-effect waves-red btn-flat red white-text">Volver</a>
                <a href="#!" class="waves-effect waves-red btn-flat red white-text" onclick="EnviarPost()" id="btnEnviar">Enviar</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $('select').formSelect()
    })

    EnviarPost = async () => {
        let data = {}
        data.idInmobiliaria = $("#idInmobiliaria").val()
        data.titulo = $("#titulo").val()
        data.localidad = $("#localidad").val()
        data.descripcion_corta = $("#descripcion_corta").val()
        data.precio = $("#precio").val()
        archivos = document.getElementById("myFiles").files
        data.descripcion = $("#descripcion").val()
        data.categoria = $("#categoria").val()
        data.tipopropiedad = $("#tipoPropiedad").val()

        if ( !Validaciones(data) ) return

        const res = await $.post("/Admin/Posts", data)

        if ( archivos.length > 0 && res.tipo == "success" ) {
            let formData  = new FormData()
            formData.append("idPost", res.insertId)
            for (x = 0; x < archivos.length; x++) {
                formData.append("myFiles", archivos[x]);
            }
    
            const options = {
                method: "POST",
                body: formData
            };
    
            const res2 = await fetch("/Admin/Post/Uploadfile", options)

            res && Swal.fire({
                type: res.tipo,
                title: res.titulo,
                text: res.texto,
            }).then(() => {
                console.log("hola")
                location.reload()
            })
        } else {
            res && Swal.fire({
                type: res.tipo,
                title: res.titulo,
                text: res.texto,
            }).then(() => {
                location.reload()
            })
        }
    }

    Validaciones = (data) => {
        console.log(data)
        $("input").removeClass('invalid')
        $("#localidad, #categoria, #tipoPropiedad").parent().removeClass('invalid')
        let bandera = true

        if ( !data.titulo ) {
            $("#titulo").addClass('invalid')
            bandera = false
        }

        if ( !data.localidad ) {
            $("#localidad").parent().addClass('invalid')
            bandera = false
        }

        if ( !data.categoria ) {
            $("#categoria").parent().addClass('invalid')
            bandera = false
        }

        if ( !data.tipopropiedad ) {
            $("#tipoPropiedad").parent().addClass('invalid')
            bandera = false
        }

        if ( !data.descripcion_corta.length ) {
            $("#descripcion_corta").addClass('invalid')
            bandera = false
        }

        if ( !data.precio.length ) {
            $("#precio").addClass('invalid')
            bandera = false
        }

        if ( $("#myFiles").val() == "" ) {
            $("#nombre").addClass('invalid')
            bandera = false
        }

        if ( !data.descripcion.length ) {
            $("#descripcion").addClass('invalid')
            bandera = false
        }

        return bandera
    }

    // let files = document.forms["formAlta"]["myFiles"].files
</script>
{% endblock %}