{% extends '../../template.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/css/test.css">
<style>
.toast { background: red; }
.tituloCard {
    padding: 0 0 10px 0;
    font-weight: bold !important;
}

span.precioCard {
    font-weight: bold;
    font-size: 1.3em;
}

.botonCard { text-align: right; }

span.negro { color: black; }
</style>

<div style="padding-top: 70px; width: 90vw; margin: auto;">
	<div style="display: flex; justify-content: space-between; align-items: center;">
        <h3>Posts de: {{ posts[0].nombre }}</h3>
        <div>
            <a href="/Admin/Posts/Alta/{{ id }}" class="waves-effect waves-light red btn" id="btnAgregar">Agregar</a>
            <a href="/Admin/Inicio" class="waves-effect waves-light red btn">Volver</a>
        </div>
	</div>

    <div class="row" id="posteos">
        
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

$(function(){
    CargarPosts()
})

async function EliminarPost(id, idInmobiliaria) {
    Swal.fire({
        title: 'Confirme',
        text: "¿Desea eliminar esta publicacion?",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Aceptar'
    }).then( async (result) => {
        if (result.value) {
            const resultado = await $.getJSON(`/Admin/Posts/Eliminar/${id}/${idInmobiliaria}`);
            Swal.fire({
                type: resultado.tipo,
                title: resultado.titulo,
                text: resultado.texto
            })
            if ( resultado.tipo == "error" ) return
            CargarPosts()
        }
    })    
}

function CargarPosts() {
    $.ajax({
        method: "GET",
        url: `/Admin/Posts/Inmobiliaria/Ajax/{{ id }}`,
        success: function(data) {
            let tablecontent = $($.parseHTML(data))
            $('#posteos').html(tablecontent)
            getPosts()
        }
    })
}

var slideIndex = 1;

function plusSlides(n, t) {
  showSlides(slideIndex += n, t);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n, t) {
  var i;
  var slides = $(t).parent().find(".mySlides");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block"; 
}

getPosts = () => {
    var conteo = $(".slideshow-container")
    $.each(conteo, (index, item) => {
        showSlides(slideIndex, $(item).find(".mySlides"));  
    })
}

</script>
{% endblock %}
 
