{% extends '../../template.html' %}

{% block content %}
<div style="padding-top: 70px; width: 90vw; margin: auto;">
	<div style="display: flex; justify-content: space-between; align-items: center;">
		<h3>Bienvenido {{ user.usuario }}</h3>
		<a href="#modalInmo" class="modal-trigger waves-effect waves-light red btn" id="btnAgregar">Agregar</a>
	</div>
	<div id="tabla"></div>
</div>

<div id="modalInmo" class="modal bottom-sheet modal-fixed-footer">
	<div class="modal-content">
		<h4>Complete el formulario</h4>
		<input type="hidden" id="accion">
		<div class="row">
    		<form class="col s12">
		      	<div class="row">
		        	<div class="input-field col m4 l4 s6">
		          		<input id="nombre" type="text" class="validate">
		          		<label for="nombre">Nombre</label>
	        		</div>
		        	<div class="input-field col m4 l4 s6">
		          		<input id="direccion" type="text" class="validate">
		          		<label for="direccion">Direccion</label>
	        		</div>
	        		<div class="input-field col m4 l4 s6">
		          		<input id="telefono" type="text" class="validate">
		          		<label for="telefono">Telefono / Celular</label>
	        		</div>
			        <div class="input-field col m4 l4 s6">
			            <input id="email" type="email" class="validate">
			            <label for="email">Email</label>
			        </div>
			        <div class="input-field col m4 l4 s6">
			            <input id="user" type="text" class="validate">
			            <label for="user">Usuario</label>
			        </div>
			        <div class="input-field col m4 l4 s6">
			            <input id="clave" type="text" class="validate">
			            <label for="clave">Clave</label>
			        </div>
		      	</div>
    		</form>
  		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
		<a href="#!" class="waves-effect waves-green btn-flat red white-text" id="btnEnviar">Enviar</a>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}
 
