{% extends '../../template.html' %}

{% block content %}
<div style="padding-top: 70px; width: 90vw; margin: auto;">
	<main>
		<center>
			<div class="container">
				<h1>LOGIN SUPER USER</h1>

				<div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
					<form class="col s12">
						<div class='row'>
							<div class='col s12'>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate' type='text' id='user' />
								<label for='user'>Usuario</label>
							</div>
						</div>

						<div class='row'>
							<div class='input-field col s12'>
								<input class='validate' type='password' id='clave' />
								<label for='clave'>Contraseña</label>
							</div>
						</div>

						<br />
						<center>
							<div class='row'>
								<button type='button' id='btnLogin' class='col s12 btn btn-large waves-effect red'>Ingresar</button>
							</div>
						</center>
					</form>
				</div>

			</div>
		</center>
	</main>	
</div>
{% endblock %}

{% block scripts %}
<script>
	$('#btnLogin').click( async () => {
		let usuario = $("#user").val()
		let clave = $("#clave").val()
		
		if ( !usuario || !clave ) return

		let data = {
			usuario, clave 
		}

		const resultado = await $.post("/Admin/Login", data)
		console.log(resultado)

		if ( resultado.error ) {
			Swal.fire({
				type: "error",
				title: "Error",
				text: resultado.error
			})			
		} else {
			window.location = '/Admin/Inicio'			
		}
	})
</script>
{% endblock %}